# ===============================
# Ambiente virtual
# ===============================
env_shap_model/

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Dados
# ===============================
data/raw/
data/interim/

# Se quiser versionar apenas dados tratados, mantenha:
# data/processed/

# ===============================
# Logs e temporários
# ===============================
*.log
*.tmp

# ===============================
# Sistema operacional
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs / editores
# ===============================
.vscode/
.idea/

# ===============================
# Modelos treinados (opcional)
# ===============================
*.pkl
*.joblib
*.sav
